[global_config]
  homogeneous_tabbar = False
  scroll_tabbar = True
  suppress_multiple_term_dialog = True
  title_inactive_bg_color = "#555753"
  title_inactive_fg_color = "#d3d7cf"
  title_transmit_bg_color = "#000000"
  window_state = hidden
[keybindings]
  copy = <Control>c
  paste = <Control>v
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.0
    background_type = transparent
    cursor_color = "#aaaaaa"
    font = Input Mono Light 10
    palette = "#000000:#aa0000:#00aa00:#aa5500:#0000aa:#aa00aa:#00aaaa:#aaaaaa:#555555:#ff5555:#55ff55:#ffff55:#5555ff:#ff55ff:#55ffff:#ffffff"
    show_titlebar = False
    use_system_font = False
